<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <% if @current_method == "new" %>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :role_ids, "Roles asociados " %>
      <%= f.collection_select(:role_ids, Role.all, :id,:name,  {:selected => @user.role_ids, :include_blank => true}, {:multiple => true})%>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>