<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Roles de este usuario:</b>
<% if @user.roles.empty? %>
    --  no hay --
<%else%>
    <% @user.roles.each do |role| %>
        <li><%= role.name %></br></li>
    <%end%>
<%end%>
</p>

</br></br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
