<!DOCTYPE html>
<html>
<head>
  <title>EjemploDeviseCancan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Area Admin', comprobar_admin_path%> ||
<%= link_to 'Area Operator', comprobar_operator_path%> ||
<%= link_to 'Area Invitado', comprobar_invitado_path%> ---------------->
<%= link_to 'CRUD de Usuarios (en editar otorgas roles a un usuario)', users_path%> ||
<%= link_to 'CRUD de Roles', roles_path%> |----------------|

<%= link_to 'Salir sesion', destroy_user_session_path, :method => :delete %>
<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

<div id="user_nav">
  <% if user_signed_in? %>
      Login como <%= current_user.email %>. Not you?
  <% else %>
      -No logueado-
  <% end %>
</div>

<br/><br/>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
